doctype html

html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		meta(charset="utf-8")
		title pockettrainer: Learn Node.js  
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		link(href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
		script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
		link(rel='stylesheet', href='/stylesheets/home.css')
	body
		div(class="bg")

		div(class="container-narrow")

			div(class="masthead")
				ul(class="nav nav-pills pull-right")
					li(class="active")
						a(href="/coach") Coach Login
				h3(class="muted") pocket trainer
			hr

			div(class="jumbotron")
				h2 Training to climb just got 21st century.
				p(class="lead") 

				form(class="form-inline",method='POST',action='/add_mail')
					input(type="text", class="input-small", placeholder="Email", name='email')
					button(type="submit", class="btn") Login!
			hr

			div(class="row-fluid marketing")
				div(class="span6")
					img(class="thumbnail", src="/images/serenity-connor.jpg")
				div(class="span6")
					h4 What's your goal?
					p Your hardest route?   Next year's national champsionships?  Work with your coach on a long-range training plan.
					
					h4 Have a plan for every workout
					p Do the right workout with the right theme on the right day, and watch your performance soar!

					h4 Workout History
					p What workouts have been assigned in the past and how have you done on those workouts?
			hr

			div(class="footer")
				p © pockettrainer 2014

		