extends layout

block content
    h1= title
    form(name="addworkout",method="post",action="/addworkout")
        input#inputWorkoutId(type="integer", placeholder="Id", name="workoutid")
        input#inputWorkoutName(type="text", placeholder="Name", name="workoutname")
        input#inputWorkoutTheme(type="text", placeholder="Theme", name="workouttheme")
        input#inputWorkoutDescription(type="text",placeholder="Description", name="workoutdescription")
        label(for="workoutexercises") Exercise: 
        select(id="workoutexercises", name="workoutexercises")
            each exercise in exerciselist
                option(value=exercise.exerciseId) #{exercise.exerciseName}

        input#inputExerciseReps(type="integer", placeholder="Reps",name="exercisereps")
        input#inputTargetTime(type="integer", placeholder="Time in minutes","name=targettime")
        button#btnSubmit(type="submit") submit